h1 {
  color: rgb(0, 0, 0);
}
body {
  background-color: #e5ffe5;
}
.SCE {
  width: 100px;
  border-radius: 55%;
}
body {
  font-size: 18px;
}

.padding-left {
  padding-left: 3%;
  flex: 1;
  justify-content: space-between;
}

.padding-leftbolt {
  padding-left: 3%;
  display: flex;
  justify-content: first baseline;
  align-items: center;
}
.expand {
  flex: 1;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30%;
}
.centerTWO {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50%;
}

.SubjectChoose {
  display: flex;
  justify-content: space-between;
}

.result-container {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 2px 2px 15px rgb(0 0 0 / 45%);
  margin-top: 10px;
}
.images {
  border-radius: 30%;
}

.cut {
  padding-left: 30px;
}

.cut-Bolt {
  padding-left: 300px;
}

.MassSenter {
  padding-left: 3%;
}

.TITLE {
  font-size: 35px;
}

.Force {
  padding-left: 3%;
  display: flex;
  justify-content: first baseline;
  align-items: center;
}

.ParalelForce {
  padding-left: 300px;
}

.flex {
  display: flex;
}
